<h1>Add New Character</h1>
<div class="container">
	<h3>Character info:</h3>

	<form (ngSubmit)="submitForm()" #form="ngForm">
		<div class="form-group required">
			<label class="control-label" for="name">Name</label>
			<input
				type="text"
				class="form-control"
				[ngClass]="{ 'is-invalid': !name.valid && (name.touched || form.submitted) }"
				id="name"
				ngModel
				name="name"
				required
				#nameFocus
				#name="ngModel">
			<span class="invalid-feedback" *ngIf="!name.valid && (name.touched || form.submitted)">Name required</span>
		</div>

		<div class="form-group required">
			<label class="control-label">Species</label>
			<select
				class="form-control"
				[ngClass]="{ 'is-invalid': !species.valid && (species.touched || form.submitted) }"
				id="species"
				ngModel
				name="species"
				required
				#speciesFocus
				#species="ngModel">
				<option value="" disabled selected>Select..</option>
				<option *ngFor="let species of speciesArr" [value]="species">{{ species }}</option>
			</select>
			<span class="invalid-feedback" *ngIf="!species.valid && (species.touched || form.submitted)">Species required</span>
		</div>

		<div class="form-group required">
			<label class="control-label" for="radio">Gender</label> <br />

			<div class="custom-control custom-radio custom-control-inline">
				<input
					type="radio"
					id="male"
					[value]="'male'"
					name="gender"
					class="custom-control-input"
					[(ngModel)]="gender"
					required
					#genderFocus>
				<label class="custom-control-label" for="male">Male</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input
					type="radio"
					id="female"
					[value]="'female'"
					name="gender"
					class="custom-control-input"
					[(ngModel)]="gender"
					required>
				<label class="custom-control-label" for="female">Female</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input
					type="radio"
					id="n/a"
					[value]="'n/a'"
					name="gender"
					class="custom-control-input"
					[(ngModel)]="gender"
					required>
				<label class="custom-control-label" for="n/a">n/a</label>
			</div>
			<div class="invalid-feedback-custom" *ngIf="!form.controls.gender?.valid && form.submitted">Gender required</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="homeworld">Homeworld</label>
			<input
				type="text"
				name="homeworld"
				class="form-control"
				id="homeworld"
				ngModel
				name="homeworld">
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
	<button class="btn btn-danger" (click)="goBack()">Cancel</button>
</div>